<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cn.plugin.message">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".service.MessageService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":MessageService">
            <intent-filter>
                <action android:name="org.cn.plugin.message.service"></action>
            </intent-filter>
        </service>

        <receiver android:name=".service.MessageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />

                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />

                <action android:name="action.iot.message.arrived"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
